
/* ___ GLOBAL ___ */

:root{
    --stroke: 1px;
    --spacing: 0em;
}

.stroke-font{
    padding: 1rem;

    letter-spacing: var(--spacing);
    
    -webkit-text-stroke-width: var(--stroke);
    -webkit-text-stroke-color: black;
    stroke-linecap: square;
    color: transparent;

    /* animation-name: anim;
    animation-duration: 4s; */
    box-sizing: border-box;
}

.size-1{
    font-size: 1.25em;
    line-height: 1.35;
}
.size-2{
    font-size: 3em;
    line-height: 0.9;
}
.size-3{
    font-size: 7em;
    line-height: 0.9;
}
.size-4{
    font-size: 16em;
    line-height: 0.85;
}

/* .stroke-font:hover{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

@keyframes anim {
    from{
        -webkit-text-stroke-width: 1px;
        background-color: white;
    }
    to{
        -webkit-text-stroke-width: 6px;
        background-color: red;
    }
} */


/*  LAYOUT 
    ============================================================= */


body{
    margin: 0;
    height: 100vh;

    display: grid;
    grid-template-rows: min-content 1fr;
}

header{
    display: flex;
    align-items: center;
    gap: 1rem;

    padding: 1rem;
    border-bottom: var(--stroke) solid black;
}

main{
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    overflow: hidden;
}
main > div{
    overflow: auto;
}


/* .spread-vertically{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
}
.spread-vertically > *{
    flex: 0 0 min-content;
} */

.divs-composition{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;

}

.buttons{
    border: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}
.buttons > *{
    padding: 0.5em 1em;
    box-sizing: border-box;
    border: var(--stroke) solid black;
    border-radius: 5em;
}

.circle{
    border-radius: 50%;
    padding: 0.5em 1em;
    box-sizing: border-box;
    border: var(--stroke) solid black;
}
.semi{
    border-radius: 50% 0%;
    padding: 0.2em;
    box-sizing: border-box;
    border: var(--stroke) solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}
.rect{
    flex-grow: 1;
    padding: 0.5em 1em;
    box-sizing: border-box;
    border: var(--stroke) solid black;
}

.flex-0{
    flex-basis: 100%;
}
.flex-1{
    flex-basis: 25%;
}