<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="UTF-8" />

    <title>css stroke fonts</title>

    <meta name="description" content="???">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="static/css/reset.css" type="text/css">
    <link rel="stylesheet" href="static/css/main.css" type="text/css">

    <style>
      /* dynamic font calls */
      {% for font in fonts %}
      @font-face {
        font-family: "{{font.name}}";
        src: url("{{font.path}}");
      }
      {% endfor %}
    </style>

  </head>

  <body>

    <header>
      <input id="input-text" type="text" value="lifeline">
      
      <select name="select-font" id="select-font">
        {% for font in fonts %}
          <option value="{{font.name}}">{{font.name}}</option>
        {% endfor %}
      </select>

      <input id="slider-stroke" type="range" min="0.1" value="1" max="6" step="0.1">
      <input id="slider-spacing" type="range" min="-0.1" value="0" max="0.1" step="0.01">

    </header>

    <main>
      <div class="spread-vertically">
        <div class="stroke-font size-2 get-input-text"></div>
        <div class="stroke-font size-3 get-input-text"></div>
        <div class="stroke-font size-4 get-input-text"></div>
      </div>
      <div>
        <div type="text" id="p-test" name="p-test" class="stroke-font size-1">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
        </div>
      </div>
      <div class="divs-composition stroke-font">
        <ul class="buttons size-1">
          <li>words</li>
          <li>describe</li>
          <li>curves</li>
          <li>and</li>
          <li>shapes</li>
        </ul>
        <div class="rect flex-0 size-1">Informations gives more details</div>
        <div class="semi flex-0 size-3">style</div>
      </div>
    </main>

    <script>

      // init elements
      let input_el = document.getElementById('input-text');
      let slider_stroke_el = document.getElementById('slider-stroke');
      let slider_spacing_el = document.getElementById('slider-spacing');
      let root = document.documentElement;

      // updates functions
      function update_text_box(val){
        let divs = document.querySelectorAll('.get-input-text');
          for(let d of divs){
              d.innerHTML = val;
        }
      }
      function update_stroke(val){
        root.style.setProperty('--stroke', val+'px');
      }
      function update_spacing(val){
        root.style.setProperty('--spacing', val+'em');
      }

      // bind event listener
      input_el.addEventListener('input', function(){
        update_text_box(this.value);
      });
      slider_stroke_el.addEventListener('input', function(){
        update_stroke(this.value);
      });
      slider_spacing_el.addEventListener('input', function(){
        update_spacing(this.value);
      });

      // apply
      update_text_box(input_el.value);
      update_stroke(slider_stroke_el.value);
      update_spacing(slider_spacing_el.value);

    </script>

    <script src="static/js/request-font.js"></script>

  </body>

</html>
